extends /template.pug

block vars
  - const pageId = 'volume2'
  - const title = 'Seguridad Bitcoin'
  - const cardImage = assetPath('/img/security/card.png')
  - const bg = imgs => imgs ? `background-image:${imgs.map(i => `url(${assetPath(`/img/security/${i}`)})`).join(',')};` : null

block styles
  link(rel="stylesheet" href=assetPath("/css/security.css"))

mixin content(id, side, glyph, back, wrapBack)
  article(id=id class=`page-${side}` style=bg(back))
    .wrap(style=bg(wrapBack))
      .content
        if glyph
          img.glyph(src=assetPath(`/img/security/${glyph}`) alt="")
        block

mixin figure(id, alt, side)
  figure(id=`${id}-2` class=`page-${side}`)
    img(src=assetPath(`/img/security/${id}.png`) alt=alt)

block main
  article#title
    nav
      a(href="/volumen-1-mineria-bitcoin/") Leer Volumen 1
    .bg(style=`background-image:url(${assetPath("/img/security/title-bg.png")})`)
    .content
      span.prelude El libro de la Mitología de Bitcoin
      h1.title= title
      span.volume Volumen 2

  +content('intro-1', 'left', 'introduction-glyph.png', ['white-cloud.png'], ['white-cloud.png', 'white-cloud.png', 'white-star.png'])
    :markdown-it(html linkify typographer)
      ## Introducción

      *"Si bitcoin es tan seguro, ¿por qué da tanto miedo?"*

      Si ha hablado sobre bitcoin, probablemente haya escuchado que es fácil de robar o perder o que pronto será prohibido y su valor a cero. Pero como con todas las cosas que escuchamos, debemos preguntarnos: ¿Es eso verdad? Bueno, al igual que con el volumen último de este libro, la respuesta es no, no realmente.

      Hay un acrónimo divertido de pronunciar que se usa para describir este tipo de información errónea, y es MID: Miedo, Incertidumbre, Duda. Y no encontrará una mayor fuente de MID en ninguna parte que cuando se habla de bitcoin y seguridad.

  +content('intro-2', 'right', null, ['meet-the-myths-bg.svg'])
    :markdown-it(html linkify typographer)
      ## Meet the myths

      [1. Hackerosaurus Rex](#hackerosaurio-rex-1)
      [2. Hedgefundhog](#fonderizos-1)
      [3. Estafamera](#estafamera-1)
      [4. El Legislador Hierrico](#legislador-hierrico-1)
      [5. Monte Inaccessible](#monte-inaccessible-1)
      [6. Terrible Escondite](#terrible-escondite-1)

  +content('hackerosaurio-rex-1', 'left', 'hackerosaurio-rex-glyph.svg', ['hackerosaurio-rex-bg-top.svg', 'hackerosaurio-rex-bg-bottom.svg'])
    :markdown-it(html linkify typographer)
      ## Hackerosaurio Rex

      *"Estegosaurio? No, gracias. Pero le daré un mordisco a tu bitcoin."*

      Los usuarios de Bitcoin están conrazón o sin razón preocupados por los piratas informáticos. Por un lado, sus bitcoins son valiosos. Por otro lado, la mayoría de los hackers son dinosaurios. Entonces, ¿cómo es que la gente sigue siendo hackeada?

       Error humano, principalmente. Debido a que la red de bitcoin nunca ha sido pirateada, los bitcoins debidamente asegurados son casi imposibles de robar. Eso es a menos que sus dueños los entreguen por error a uno de estos cerebros de aves.

  +figure('hackerosaurio-rex', 'Hackerosaurio Rex', 'right')

  +content('fonderizos-1', 'right', 'fonderizos-glyph.png', ['snowflakes.png', 'white-star.png', 'white-star.png'], ['white-cloud.png', 'white-cloud.png', 'white-star.png'])
    :markdown-it(html linkify typographer)
      ## Fonderizos

      *"Bitcoin no está hecho para el crimen. Pero yo soy."*

      Algunos creen que la naturaleza anónima y resistente a la censura de bitcoin lo convierte en la herramienta perfecta para cometer delitos como el lavado de dinero. Y es cierto: la gente usa bitcoin para esto. Pero si eres uno de estos criminales no muy suaves, deberías tomar asiento.

      Bitcoin no solo no es anónimo (es un seudónimo), sino que deja atras un rastro bastante difícil de perder*. Entonces, si lo tuyo es el crimen, te recomendamos que te limites al dinero en efectivo, que es más difícil de rastrear y ya lo prefieren muchos criminales consumados.

      *Por ahora

  +figure('fonderizos', 'Fonderizos', 'left')

  +content('estafamera-1', 'left', 'estafamera-glyph.png', ['white-cloud.png', 'red-star.png'], ['red-star.png', 'red-star.png'])
    :markdown-it(html linkify typographer)
      ## Estafamera

      *"Me siento generosa y quiero devolverle a mi comunidad."*

      Los actores maliciosos vienen en muchas formas y tamaños: dinosaurios con sudaderas, erizos impecablemente bien vestidos, un CEO de fama mundial que intenta duplicar su bitcoin por una pequeña tarifa. El peligro está en todas partes. Pero también a) no es exclusivo de bitcoin y b) algo contra lo que, cualquiera puede defenderse siguiendo algunas simples reglas.

      Como dice el refrán, si parece demasiado bueno para ser verdad, probablemente lo sea. Entonces, la próxima vez que veas a uno de estos depredadores de tres puntas ofreciéndote comprar un estado-nación, sigue desplazándote. No pueden tomar tu bitcoin a menos que se los des.

  +figure('estafamera', 'Estafamera', 'right')

  +content('legislator-hierrico-1', 'right', 'legislator-hierrico-glyph.png', ['metal.png', 'white-cloud.png', 'white-cloud.png'], ['papers.png', 'white-star.png'])
    :markdown-it(html linkify typographer)
      ## El Legislator Hierrico

      *"Estas botas fueron hechas para caminar… toda innovación!!!"*

      De todas admirables cosas de Satoshi Nakamoto, la previsión es quizás la más importante. Satoshi sabía que bitcoin podía competir con las monedas fiduciarias y los gobiernos que las emiten. Sin embargo, debido a la naturaleza distribuida de los nodos de bitcoin, los mineros, las billeteras y el interés general, es difícil sabotear el bitcoin legalmente.

      Entonces, aunque Bitcoin ha cambiado mucho a lo largo de los años, una cosa sigue siendo la misma: si puede acceder a Internet, puede acceder a Bitcoin.

  +figure('legislator-hierrico', 'El Legislator Hierrico', 'left')

  +content('monte-inaccessible-1', 'left', 'monte-inaccessible-glyph.png', ['black-star.png', 'black-star.png', 'black-cloud.png'])
    :markdown-it(html linkify typographer)
      ## Monte Inaccessible

      *"Hay ~1091 formas de llegar a la cima. Sólo uno no es un callejón sin salida."*

      Pregunte y oirá que millones de bitcoins para siempre se pierdrán. Esto no es exactamente correcto. Por un lado, no están "perdidos". Sabemos exactamente dónde encontrarlos: están solo atrapados en la cadena de bloques de bitcoin, esperando ser rescatados. Lamentablemente, mucho tiempo podrían estar esperando.

      Gracias al consenso de prueba de trabajo de bitcoin y la utilización de la criptografía de curva elíptica, estas monedas son más bien muy, muy inaccesibles. Pero si de manera responsable administra sus frases de recuperación, y antes de enviar verifica cada dirección, no hay razón por la que sus monedas deban unirse a ellas.

  +figure('monte-inaccessible', 'Monte Inaccessible', 'right')

  +content('terrible-escondite-1', 'right', 'terrible-escondite-glyph.svg', ['terrible-escondite-bg-top.svg', 'curl.png', 'curl.png'])
    :markdown-it(html linkify typographer)
      ## Terrible Escondite

      *"¿Bitcoin? ¿Efectivo? Su seguridad es tan buena como su escondite."*

      Bitcoin es como el oro, dicen: es valioso, escaso, fungible, bla bla bla. Pero bitcoin es realmente más como efectivo digital. Y como la mayoría de las cosas digitales, se puede hacer una copia de seguridad de bitcoin, mientras que el dinero físico y el oro son susceptibles a fallar en puntos únicos.

      Además de permitir a los usuarios crear múltiples copias de seguridad de las frases de recuperación, bitcoin puede proteger su dinero con tecnología de múltiples firmas, que requiere las claves de múltiples dispositivos seguros para mover su bitcoin, eliminando por completo la necesidad de esconderse.

  +figure('terrible-escondite', 'Terrible Escondite', 'left')

  article#end(style=`background-image:url(${assetPath("/img/security/plants-end.png")}),url(${assetPath("/img/security/hackerosaurio-rex-bg-bottom.svg")})`)
    .bg(style=`background-image:url(${assetPath("/img/security/end-bg.svg")})`)
    .content
      span.prelude Volumen 3 muy pronto
      h1.title ¿El fin?
      a.button(href="/volumen-1-mineria-bitcoin/")
        span Leer Volumen 1: Mineía Bitcoin
