extends /template.pug

block vars
  - const pageId = 'volume1'
  - const title = 'Minería Bitcoin'
  - const cardImage = assetPath('/img/mining/card.png')
  - const bg = imgs => imgs ? `background-image:${imgs.map(i => `url(${assetPath(`/img/mining/${i}`)})`).join(',')};` : null

block styles
  link(rel="stylesheet" href=assetPath("/css/mining.css"))

mixin content(id, side, glyph, back, wrapBack)
  article(id=id class=`page-${side}` style=bg(back))
    .wrap(style=bg(wrapBack))
      .content
        if glyph
          img.glyph(src=assetPath(`/img/mining/${glyph}`) alt="")
        block

mixin figure(id, alt, side)
  figure(id=`${id}-2` class=`page-${side}`)
    img(src=assetPath(`/img/mining/${id}.png`) alt=alt)

block main
  article#title
    nav
      a(href="/volumen-2-seguridad-bitcoin/") Leer Volumen 2
    .bg(style=`background-image:url(${assetPath("/img/mining/title-bg.svg")})`)
      img.coin1(src=assetPath("/img/coin.svg") alt="")
      img.coin2(src=assetPath("/img/coin.svg") alt="")
      img.coin3(src=assetPath("/img/coin.svg") alt="")
      img.coin4(src=assetPath("/img/coin.svg") alt="")
    .content
      span.prelude El libro de la Mitología de Bitcoin
      h1.title= title
      span.volume Volumen 1

  +content('intro-1', 'left', 'introduction-glyph.png', ['introduction-bg-bottom.svg'], ['introduction-bg-top.svg', 'introduction-bg-center.svg'])
    :markdown-it(html linkify typographer)
      ## Introducción

      *"Bitcoin. No tiene fronteras. Es descentralizado. Y está destruyendo el mundo al liberar un flujo interminable de ahumante y caliente CO² a la atmósfera."*

      Probablemente hayas escuchado algo como esto un par de veces antes. ¿Pero es verdad? Bueno no. No realmente. La verdad es que los mineros de bitcoin son como cualquier otro participante del mercado: para durar, tienen que maximizar la eficiencia. Eso significa adoptar la energía verde en todos los niveles.

      Este es el primer volumen de una serie sobre los mitos de bitcoin y las criaturas míticas que los proliferan. Dado que no existen mitos más prominentes o predominantes sobre bitcoin que los que tienen que ver con su impacto ambiental, comenzamos allí.

  +content('intro-2', 'right', null, ['meet-the-myths-bg.svg'])
    :markdown-it(html linkify typographer)
      ## Conoce los Mitos

      [1. Lejos-de-Jolly Gigantes Verdes](#gigantes-verdes-1)
      [2. Escala-a-mantes](#escala-a-mantes-1)
      [3. MerceLobos](#mercelobos-1)
      [4. Ener-Agentes](#ener-agentes-1)
      [5. Ampires](#ampires-1)
      [6. Hadas Fiat](#hadas-fiat-1)

  +content('gigantes-verdes-1', 'left', 'gigantes-verdes-glyph.svg', null, ['gigantes-verdes-bg.svg'])
    h2
      small Lejos-de-Jolly
      span Gigantes Verdes

    :markdown-it(html linkify typographer)
      *"Tarifa-fi-fo-fum. Los mineros de Bitcoin no utilizan energía verde, hijo."*

      Son grandes. Son verdes. Y tienen razón al preocuparse por el lugar donde los mineros de bitcoin obtienen su electricidad. Pero bitcoin es más verde de lo que ellos (y la mayoría de los humanos) creen.

       ¿El mayor costo asociado con la minería de bitcoin? Energía. Esto convierte a los mineros en unos de los principales defensores mundiales de económicas y abundantes fuentes energeticas como la eólica, la hidroeléctrica y la solar. Estas fuentes de energía no solo están en todas partes, incluso cuando no lo están, los mineros pueden empacar y encontrarlas donde estén. Entonces, si se desea extraer bitcoin de manera rentable, debe volverse ecológico. Sea donde sea.

  +figure('gigantes-verdes', 'Green Giants', 'right')

  +content('escala-a-mantes-1', 'right', 'escala-a-mantes-glyph.svg', ['escala-a-mantes-bg.svg'])
    :markdown-it(html linkify typographer)
      ## Escala-a-mantes

      *"Bitcoin no puede esssscalar."*

      Para bitcoin, escalar significa crecer un billón por ciento sin requerir un billón por ciento más de energía. Eso es. Por esa razón, los escala-a-mantes se encuentran entre los mitos de bitcoin más antiguos y generalizados. Pero a pesar de sus frecuentes afirmaciones en contrario, el costo de energía por transacción de bitcoin fue diseñado para "escalar" y escalar mucho.

      Esto se debe a que el volumen de transacciones de bitcoin es independiente del uso de energía, lo que significa que puede acomodar 100, 1000 o 10 000 veces más transacciones por la misma cantidad de energía.

  +figure('escala-a-mantes', 'Scale-a-manders', 'left')

  +content('mercelobos-1', 'left', 'mercelobos-glyph.svg', ['mercelobos-bg.svg'])
    :markdown-it(html linkify typographer)
      ## MerceLobos

      *"Para recuperar los costes de hardware, el hardware de minería de bitcoin debe funcionar las 24 horas del día."*

      Hace algunos años, estos dogmáticos mitos serían correctos, pero ahora ya no lo son. Lo que no tienen en cuenta es que las mejoras del hardware se estabilizan de forma natural con el tiempo, lo que alarga los ciclos de vida de los mineros de seis meses a unos cuatro años (y subiendo).

      Esto hace que la electricidad sea la parte más costosa de la minería, permitiendo a los mineros cerrar cuando los costes aumentan y convirtiendo la minería de bitcoins en una de las únicas soluciones al problema del desajuste entre la oferta y la demanda de energías renovables. ¿Poca demanda? Mineros encendidos. ¿Mucha demanda? Mineros apagados.

  +figure('mercelobos', 'Warewolves', 'right')

  +content('ener-agentes-1', 'right', 'ener-agentes-glyph.svg', null, ['ener-agentes-bg.svg'])
    :markdown-it(html linkify typographer)
      ## Ener-Agentes

      *"Bitcoin está usando demasiada ant-energía!"*

      Algunos mitos no pueden ver el bosque por los árboles -- tal vez porque son árboles. ¿Su queja con bitcoin? Cuanta energía consume. Aunque tienen buenas intenciones, su preocupación está un poco fuera de lugar: el problema es el CO&sub2;, no el consumo de energía.

       Si bitcoin consumiera 100 veces más energía pero emitiera cero CO&sub2;, ¿Les importaría a estos enfermos tradicionalistas? Probablemente no. Y si la demanda de energía renovable se multiplica por 100, también lo haría la inversión en tecnología verde, que beneficia a todos -- especialmente a los árboles.
  +figure('ener-agentes', 'Ent-a-cops', 'left')

  +content('ampires-1', 'left', 'ampires-glyph.png', ['ampires-bg.svg'])
    :markdown-it(html linkify typographer)
      ## Ampiros

      *"¿Sacar sangre? No soy un monstruo."*

      Estos mitos eternos quieren que la energía consumida por bitcoin se asigne a otras iniciativas ecológicas como los vehículos eléctricos. Oye, nos gustan los coches eléctricos. Pero lo que no saben es que la energía renovable consumida por bitcoin rara vez tiene otros clientes.

      Ni siquiera es deseada debido a los costos de transporte y almacenamiento, o simplemente ya no tiene demanda. Si hay clientes en línea para esa electricidad, entonces va al mejor postor. En casi todos los casos, debido a que la electricidad es costosa, los mineros de bitcoin no serán los mejores postores.

  +figure('ampires', 'Ampires', 'right')

  +content('hadas-fiat-1', 'right', 'hadas-fiat-glyph.svg', null, ['hadas-fiat-bg.svg'])
    :markdown-it(html linkify typographer)
      ## Hadas Fiat

      *"Bitcoin consume mucha más energía que las monedas convencionales."*

      La verdad sobre las monedas emitidas por el gobierno es que no están respaldadas por mucho más que una promesa. Y cuando lo son, las cosas que los apoyan son los militares, las fuerzas policiales, los sistemas legales arcanos, los bancos que no rinden cuentas y las acuñas que pueden activar a voluntad.

      Todas estas cosas consumen grandes cantidades de energía, y rara vez es verde. Cuando bitcoin se convertirá en la moneda preferida del planeta, será a expensas de sistemas dependientes de fíat como estos. Y una vez que se hayan ido, como hadas reales, probablemente nunca más las vuelves a ver.

  +figure('hadas-fiat', 'Hadas Fiat', 'left')

  article#end
    .bg(style=`background-image:url(${assetPath("/img/mining/title-bg.svg")})`)
      img.coin1(src=assetPath("/img/coin.svg") alt="")
      img.coin2(src=assetPath("/img/coin.svg") alt="")
      img.coin3(src=assetPath("/img/coin.svg") alt="")
      img.coin4(src=assetPath("/img/coin.svg") alt="")
    .content
      span.prelude Volumen 2 "Seguridad Bitcoin" Disponible ahora
      h1.title ¿El fin?
      a.button(href="/volumen-2-seguridad-bitcoin/")
        span Leer Volumen 2: Seguridad Bitcoin
